/*------------------------------------------------------------------

[Master Stylesheet]



Project:  Umber

Version:	1.0

Last change:	30/4/2018 

Assigned to:	Hau Nguyen

Primary use:	Open Source

-------------------------------------------------------------------*/

/*-----------------------------------------------------*/

/*                   GENERIC                           */

/*-----------------------------------------------------*/

/* ----- Normalize ----- */

* {

    margin: 0;

    padding: 0;

    -webkit-box-sizing: border-box;

    -moz-box-sizing: border-box;

    box-sizing: border-box;

}

/*@font-face {

    font-family: 'TsukushiAMaruGothic';

    src: url('../fonts/AppleTsukuARdGothic-Regular-AlphaNum-01.otf');

}*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

button,

input[type='button'] {

    cursor: pointer;

}



button:focus,

input:focus,

textarea:focus {

    outline: none;

}



ul {

    margin-bottom: 0;

    list-style: none;

}



.list-inline-item:not(:last-child) {

    margin: 0;

}



button {

    background: none;

    border: none;

}



img {

    max-width: 100%;

    height: auto;

}



p {

    margin-bottom: 0;

}



@media (min-width: 576px) {

    .container {

        max-width: unset;

    }

}



@media (min-width: 768px) {

    .container {

        max-width: unset;

    }

}



@media (min-width: 1200px) {

    .container {

        max-width: 1200px;

    }

}




h1,

h2,

h3,

h4,

h5,

h6 {

    /*color: #333;*/

    font-weight: 700;

    line-height: 1.2;

    margin: 0;

}



h1 {

    font-size: 36px;

}



h2 {

    font-size: 30px;

}



h3 {

    font-size: 24px;

}



h4 {

    font-size: 18px;

}



h5 {

    font-size: 15px;

}



h6 {

    font-size: 13px;

}



blockquote {

    margin: 0;

    padding: 0;

}



strong {

    font-weight: 700;

}



p {

    line-height: -webkit-calc(24/14);

    line-height: -moz-calc(24/14);

    line-height: calc(24/14);

}



/*-----------------------------------------------------*/

/*                   ELEMENTS                          */

/*-----------------------------------------------------*/

/* ----- Titles ----- */


a:hover,

a:focus,

a:active {

    text-decoration: none;

    outline: none;

}



a:hover {

    color: #333;

}



a:hover,

a {

    -webkit-transition: all 0.3s ease;

    -o-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    transition: all 0.3s ease;

}

/*-----------------------------------------------------*/

/*                   OBJECTS                           */

/*-----------------------------------------------------*/

/* ----- Section----- */

section {

    overflow: hidden;

    position: relative;

}
.content {
    position: relative;
}
.datlich {
    position: absolute;
    top: 300px;
    left: -43px;
    transform: rotate(-90deg);
    z-index: 999;
    font-size: 18px;
    padding: 10px 20px;
    background: #da1764;
    color: #fff;
}
.datlich a {
    color: #fff;
}
.fix-box {
    position: fixed;
    top: 45%;
    left: -43px;
}
/*Header*/
.top_bar {
    height: 55px;
    background: #fff;
    padding: 17px 0;
}
.icon_image {
    float: left;
    margin-right: 10px;
}
.info_email {
    float: left;
    font-style: italic;
    font-size: 14px;
    color: #00932e;
    padding-top: 2px;
}
.info {
    width: 235px;
    float: right;
}
.info_phone {
    color: #d71658;
    font-size: 14px;
    font-weight: bold;
    padding-top: 1px;
}
.info_sdt {
    float: right;
    text-align: left;
    width: 150px;
}
.slick-item img {
    height: 726px;
    width: 100%;
}
.slick-arrow {
    position: absolute;
    top: 42%;
    font-size: 0;
}
.slick-prev {
    left: 25px;
    background: url(../images/icon_pre.png) no-repeat;
    height: 50px;
    width: 30px;
    z-index: 99;
}
.slick-next {
    right: 15px;
    background: url(../images/icon_next.png) no-repeat;
    height: 50px;
    width: 30px;
    z-index: 99;
}
.header_content {
    position: relative;
}
.content_header {
    position: absolute;
    top: 0;
    width: 100%;
}
.menu {
    float: right;
}
.logo {
    float: left;
    margin-top: -55px;
}
.menu li {
    float: left;
     padding-top: 25px;
     margin-left: 50px;
}
.menu li a {
    color: #fff;
}
.menu li:hover {
    border-top: 2px solid #d71658;
}
.menu li:hover a {
    color: #d71658;
}
.about {
    margin-top: -200px;
}
.about_box {
    border: 3px solid #da1764;
    padding: 40px 20px;
    background: #fff;
}
.about_info {
    padding-top: 20px;
}
.about_box h4 {
    font-size: 25px;
    margin-bottom: 10px;
}
.about_box .line {
    width: 85px;
    height: 3px;
    background: #da1764;
    margin: auto;
}
.about_box p {
    font-size: 22px;
    margin-top: 30px;
    color: #006b11;
    font-weight: bold;
    line-height: 30px;
    height: 60px;
}
.tintuc {
    margin-top: 100px;
}
.title_section {
    margin-bottom: 70px;
}
.title_section h2 {
    font-size: 45px;
    margin-bottom: 17px;
}
.title_section .line {
    width: 115px;
    height: 3px;
    background: #da1764;
    margin: auto;
}
.tintuc_content {
    height: 380px;
    border: 2px solid #e0dedf;
    box-shadow: 0px 0px 5px 3px #e0dedf;
            -moz-box-shadow: 0px 0px 5px 3px #e0dedf;
            -webkit-box-shadow: 0px 0px 5px 3px #e0dedf;
            -o-box-shadow: 0px 0px 5px 3px #e0dedf;
            -ms-box-shadow: 0px 0px 5px 3px #e0dedf;
}
.tintuc_content img {
    height: 100%;
    width: 100%;
}
.tintuc_image {
    padding-left: 0;
    height: 100%;
}
.tintuc_post {
    padding: 45px;
    position: relative;
    height: 100%;
}
.tintuc_post .title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
}
.tintuc_post .date_time {
    font-size: 16px;
    color: #aaaaaa;
    font-style: italic;
    margin-bottom: 30px;
}
.tintuc_post .date {
    margin-right: 20px;
}
.tintuc_post .time {
    margin-left: 20px;
}
.tintuc_post p {
    font-size: 16px;
    color: #676767;
    line-height: 24px;
}
.tintuc_post .xemthem {
    position: absolute;
    bottom: 40px;
    right: 40px;
}
.tintuc_post .xemthem a {
    color: #da1764;
}
.tintuc_post .xemthem i {
    margin-left: 15px;
}
.tintuc_post .xemthem a:hover {
    color: #31b0d5;
}
.tintuc .slick-arrow {
    display: none !important;
}
.tintuc .slick-dots {
    height: 15px;
    margin: auto;
    width: 15%;
    margin-top: 30px;
}
.tintuc .slick-dots li {
    float: left;
    font-size: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #db1c68;
    border-radius: 100%;
    margin: 0 7px;
    cursor: pointer;
}
.tintuc .slick-dots li.slick-active {
    background: #db1c68;
}

.trungtamdieuhanh {
    margin-top: 100px;
    z-index: 99;
}

.baocaotonghop {
    background: #f9f9f9;
    margin-top: -140px;
    padding-bottom: 140px;
}
.baocaotonghop .title_section {
    margin-top: 220px;
}
.baocaotonghop .baocaotonghop_box {
    margin-bottom: 50px;
     box-shadow: 0px 5px 5px 3px #dddddd;
            -moz-box-shadow: 0px 5px 5px 3px #dddddd;
            -webkit-box-shadow: 0px 5px 5px 3px #dddddd;
            -o-box-shadow: 0px 5px 5px 3px #dddddd;
            -ms-box-shadow: 0px 5px 5px 3px #dddddd;
}
.baocaotonghop .baocaotonghop_box .baocaotonghop_image {
    width: 100%;
    overflow: hidden;
}
.baocaotonghop .baocaotonghop_box .baocaotonghop_image img {
    width: 100%;
}
.baocaotonghop .baocaotonghop_box:hover .baocaotonghop_image img {
    transform: scale(1.1,1.1);
    transition: all 3s ease;
}
.baocaotonghop_info {
    padding: 35px 60px;
}
.baocaotonghop_info .number {
    font-size: 35px;
    color: #da1764;
    margin-bottom: 10px;
}
.baocaotonghop_info p {
    font-size: 20px;
    line-height: 28px;
    color: #000;
    font-weight: bold;
    height: 56px;
}
.xuatfile > div > div {
    float: left;
    padding: 0 15px;
}
.xuatfile_1 {
    width: 17%;
    font-size: 16px;
    font-weight: bold;
    padding: 15px !important;
}
.xuatfile_3 {
    width: 9%;
    text-align: center;
   
}
.xuatfile_image {
     padding: 10px 20px;
}
.xuatfile_image:hover img {
    transform: scale(1.1,1.1);
    transition: all 0.5s ease;
}
.xuatfile_2 {
    width: 56%;
}
.xuatfile_2 select {
    width: 100%;
    padding: 17px;
    border: 1px solid #d7d7d7;
     color: #9f9f9f;
}
.excel {
    border: 1px solid #2e7d32;
}
.word {
    border: 1px solid #1565c0;
}
.pdf {
    border: 1px solid #e2574c;
}
.xuatfile_2 select option {
    text-align: center;
    font-size: 14px;
    color: #9f9f9f;
}
.footer {
    padding: 50px 0;
    background: #073354;
}
.footer .social a {
    font-size: 24px;
    padding: 0 10px;
    color: #fff;
}
.footer .social a:hover {
    color: #da1764;
}
.footer_menu {
    margin-top: 40px;
}
.footer_menu a {
    font-size: 14px;
    color: #fff;
    padding: 0 40px;
    border-right: 1px solid #fff;
}
.footer_menu a:hover {
    color: #da1764;
}
.foter_info {
    margin-top: 50px;
}
.foter_info h5 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #fff;
}
.foter_info p {
    color: #fff;
    font-size: 16px;
}
.copyright {
    color: #fff;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #395c76;
}
.backtotop {

    position: fixed;

    bottom: 150px;

    right: 50px;

    cursor: pointer;

    font-size: 40px;

    display: block;

    width: 80px;

    height: 80px;

    color: #fff;

    z-index: 9999;

}
.tuvan {

    position: fixed;

    bottom: 30px;

    right: 32px;

    cursor: pointer;

    font-size: 40px;

    display: block;

    width: 111px;

    height: 111px;

    color: #fff;

    z-index: 9999;

}
.backtotop i {

    padding-left: 12px;

    font-size: 30px;

}

.backtotop-box {

    position: relative;

}

.backtotop-box i {

    position: absolute;

    top: 10px;

    left: 3px;

}
